To install a kernel with the proper environment run in `yadism` top level dir:
```shell
ipython kernel install --user --name=<env-name>
```
to remove the installed kernel:
```shell
jupyter kernelspec uninstall <ker-name>
```
with `<ker-name>` equal to the previous `<env-name>`

In [1]:
from yadism import *
from navigator import *

check_external()

EXTERNAL mode activated

In [2]:
ls(l)

,doc_id,structure_functions,theory,observables,creation,pdf
0,1,F2light at 30 points,17,1,2 weeks ago,CT14llo_NF6
1,2,F2light at 30 points,18,1,2 weeks ago,ToyLH
2,3,F2light at 30 points,18,1,2 weeks ago,ToyLH
3,4,F2charm at 30 points,18,2,2 weeks ago,ToyLH
4,5,F2bottom at 30 points,18,3,2 weeks ago,ToyLH
5,6,F2top at 30 points,18,4,2 weeks ago,ToyLH
6,7,FLlight at 30 points,18,5,2 weeks ago,ToyLH
7,8,FLcharm at 30 points,18,6,2 weeks ago,ToyLH
8,9,FLbottom at 30 points,18,7,2 weeks ago,ToyLH
9,10,FLtop at 30 points,18,8,2 weeks ago,ToyLH
10,11,F2light at 30 points,53,1,2 weeks ago,ToyLH
11,12,F2charm at 30 points,53,2,2 weeks ago,ToyLH
12,13,F2bottom at 30 points,53,3,2 weeks ago,ToyLH
13,14,F2top at 30 points,53,4,2 weeks ago,ToyLH
14,15,FLlight at 30 points,53,5,2 weeks ago,ToyLH
15,16,FLcharm at 30 points,53,6,2 weeks ago,ToyLH
16,17,FLbottom at 30 points,53,7,2 weeks ago,ToyLH
17,18,F2light at 30 points,53,1,2 weeks ago,CT14llo_NF6
18,19,F2light at 30 points,53,1,2 weeks ago,CT14llo_NF6
19,20,F2light at 30 points,53,1,2 weeks ago,CT14llo_NF6
20,21,F2charm at 30 points,53,2,2 weeks ago,CT14llo_NF6
21,22,F2bottom at 30 points,53,3,2 weeks ago,CT14llo_NF6
22,23,F2top at 30 points,53,4,2 weeks ago,CT14llo_NF6
23,24,FLlight at 30 points,53,5,2 weeks ago,CT14llo_NF6
24,25,FLcharm at 30 points,53,6,2 weeks ago,CT14llo_NF6
25,26,FLbottom at 30 points,53,7,2 weeks ago,CT14llo_NF6
26,27,FLtop at 30 points,53,8,2 weeks ago,CT14llo_NF6
27,28,F2light at 30 points,53,1,2 weeks ago,CT14llo_NF6
28,29,F2charm at 30 points,53,2,2 weeks ago,CT14llo_NF6
29,30,F2bottom at 30 points,53,3,2 weeks ago,CT14llo_NF6
30,31,F2top at 30 points,53,4,2 weeks ago,CT14llo_NF6
31,32,FLlight at 30 points,53,5,2 weeks ago,CT14llo_NF6
32,33,FLcharm at 30 points,53,6,2 weeks ago,CT14llo_NF6
33,34,FLbottom at 30 points,53,7,2 weeks ago,CT14llo_NF6
34,35,FLtop at 30 points,53,8,2 weeks ago,CT14llo_NF6
35,36,F2light at 20 points,145,1,18 hours ago,ToyLH
36,37,F2light at 20 points,145,1,18 hours ago,ToyLH
37,38,F2light at 20 points,145,1,18 hours ago,ToyLH
38,39,F2light at 20 points,469,1,18 hours ago,ToyLH

In [3]:
a = dfl(38)[0]
b = dfl(39)[0]

In [74]:
def join(id1, id2):
    tabs = []
    tabs1 = []
    exts = []
    suffixes=(f" ({id1})", f" ({id2})")
    
    for i, doc_id in enumerate([id1,id2]):
        tabs += [dfl(doc_id)[0]]
        tabs1 += [tabs[i].drop(['yadism', 'yadism_error', 'rel_err[%]'], axis=1)]
        exts += [tabs1[i].columns.drop(['x', 'Q2'])[0] + suffixes[i]]
    
    def rel_err(row):
        ref = row[exts[0]]
        cmp = row[exts[1]]
        if ref != 0:
            return (cmp/ref - 1)*100
        else:
            return np.nan
    
    tab_joint = tabs1[0].merge(tabs1[1], on=['x', 'Q2'], how="outer", suffixes=suffixes)
    tab_joint['ext_rel_err [%]'] = tab_joint.apply(rel_err, axis=1)
    
    if all(np.isclose(tabs[0]['yadism'], tabs[1]['yadism'])):
        tab_joint['yadism'] = tabs[0]['yadism']
        tab_joint['yadism_error'] = tabs[0]['yadism_error']
    else:
        pass
    
    
    return tab_joint

In [75]:
join(38, 39)

           x          Q2  APFEL (38)  APFEL (39)  ext_rel_err [%]
0   0.000317   90.000000    0.523987    0.536024         2.297218
1   0.001007   90.000000    0.471407    0.481104         2.057011
2   0.003195   90.000000    0.430716    0.436825         1.418396
3   0.010138   90.000000    0.408061    0.407644        -0.102252
4   0.032169   90.000000    0.413767    0.401412        -2.985886
5   0.102077   90.000000    0.441540    0.415481        -5.901846
6   0.304545   90.000000    0.348340    0.341180        -2.055411
7   0.536364   90.000000    0.148428    0.163240         9.979059
8   0.768182   90.000000    0.023710    0.031683        33.627325
9   1.000000   90.000000    0.000000    0.000000              NaN
10  0.001000    2.000000    0.471688    0.491966         4.299122
11  0.001000    3.489940    0.471688    0.489183         3.709092
12  0.001000    6.089839    0.471688    0.487072         3.261464
13  0.001000   10.626586    0.471688    0.485415         2.910254
14  0.001000   18.543071    0.471688    0.484080         2.627325
15  0.001000   32.357099    0.471688    0.482982         2.394534
16  0.001000   56.462162    0.471688    0.482063         2.199639
17  0.001000   98.524768    0.471688    0.481282         2.034075
18  0.001000  171.922745    0.471688    0.480611         1.891699
19  0.001000  300.000000    0.471688    0.480027         1.767946

In [42]:
tab_a = dfl(38)[0]
tab_a1 = tab_a.drop(['yadism', 'yadism_error', 'rel_err[%]'], axis=1)
ext_a = tab_a1.columns

ext_a.drop(['x', 'Q2'])[0]

'APFEL'

In [53]:
tab_a['ciao'] = tab_a.apply(lambda x: x['x'] + x['Q2'], axis=1)
tab_a

,x,Q2,APFEL,yadism,yadism_error,rel_err[%],ciao
0,0.000317,90.000000,0.523987,0.523987,0.0,-0.000004,90.000317
1,0.001007,90.000000,0.471407,0.471407,0.0,-0.000004,90.001007
2,0.003195,90.000000,0.430716,0.430716,0.0,-0.000004,90.003195
3,0.010138,90.000000,0.408061,0.408061,0.0,-0.000002,90.010138
4,0.032169,90.000000,0.413767,0.413767,0.0,0.000003,90.032169
5,0.102077,90.000000,0.441540,0.441540,0.0,-0.000004,90.102077
6,0.304545,90.000000,0.348340,0.348340,0.0,-0.000004,90.304545
7,0.536364,90.000000,0.148428,0.148428,0.0,0.000002,90.536364
8,0.768182,90.000000,0.023710,0.023710,0.0,0.000153,90.768182
9,1.000000,90.000000,0.000000,0.000000,0.0,NaN,91.000000
10,0.001000,2.000000,0.471688,0.471684,0.0,-0.000808,2.001000
11,0.001000,3.489940,0.471688,0.471684,0.0,-0.000808,3.490940
12,0.001000,6.089839,0.471688,0.471684,0.0,-0.000809,6.090839
13,0.001000,10.626586,0.471688,0.471684,0.0,-0.000809,10.627586
14,0.001000,18.543071,0.471688,0.471684,0.0,-0.000811,18.544071
15,0.001000,32.357099,0.471688,0.471684,0.0,-0.000811,32.358099
16,0.001000,56.462162,0.471688,0.471684,0.0,-0.000811,56.463162
17,0.001000,98.524768,0.471688,0.471684,0.0,-0.000811,98.525768
18,0.001000,171.922745,0.471688,0.471684,0.0,-0.000811,171.923745
19,0.001000,300.000000,0.471688,0.471684,0.0,-0.000811,300.001000